##### Editors

# VS Code
.vscode

# Julia
/docs/Manifest.toml
Manifest.toml
/docs/build/
.ipynb_checkpoints

temp
scratchpad*

.github

# R
.Rhistory
.Rdata

# Emacs
*~

# IntelliJ
.idea

# Secrets
.env*


